Repository flixyudh/rn-flix: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --ignore-unknown

jest fail
  .eslintrc.js
  coverage/base.css
  coverage/block-navigation.js
  coverage/example/src/App.js.html
  coverage/example/src/SnackbarExample.js.html
  coverage/example/src/index.html
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/InternalUseSnackbar.js.html
  coverage/src/Snackbar.js.html
  coverage/src/SnackbarProvider.js.html
  coverage/src/index.html
  coverage/src/index.js.html
  coverage/src/useSnackbar.js.html
  jest.config.js
  jest.setup.js
  package.json
  packages/snackbar/.lintstagedjs.json
  packages/snackbar/__tests__/snackbar.test.js
  packages/snackbar/src/Snackbar.js
  packages/snackbar/tsconfig.build.json
  packages/snackbar/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --ignore-unknown

chore: Fix readme import example
  packages/snackbar/README.md
Due: none

feat: add new package AutoImage
  packages/auto-image/.lintstagedjs.json
  packages/auto-image/CHANGELOG.md
  packages/auto-image/README.md
  packages/auto-image/example/App.js
  packages/auto-image/example/app.json
  packages/auto-image/example/assets/adaptive-icon.png
  packages/auto-image/example/assets/favicon.png
  packages/auto-image/example/assets/icon.png
  packages/auto-image/example/assets/splash.png
  packages/auto-image/example/babel.config.js
  packages/auto-image/example/metro.config.js
  packages/auto-image/example/package.json
  packages/auto-image/example/src/App.js
  packages/auto-image/example/webpack.config.js
  packages/auto-image/package.json
  packages/auto-image/src/RenderWithLoading.js
  packages/auto-image/src/errorImage.png
  packages/auto-image/src/index.js
  packages/auto-image/src/utils.js
  packages/auto-image/tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --ignore-unknown

chore: add lerna
  .eslintrc.js
  lerna.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier --write --ignore-unknown

chore: change lerna to independent
  lerna.json
Due: prettier --write --ignore-unknown

Publish
  packages/auto-image/package.json
  packages/snackbar/package.json
Due: prettier --write --ignore-unknown

chore: change homepage url
  packages/auto-image/package.json
  packages/snackbar/package.json
Due: prettier --write --ignore-unknown

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: none

chore: fix readme example
  packages/auto-image/README.md
Due: none

chore: update component name in readme
  packages/auto-image/README.md
Due: none

chore: bump version snackbar 1.0.2
  packages/snackbar/package.json
Due: prettier --write --ignore-unknown

chore: fix readme usage and props
  packages/auto-image/README.md
Due: none

add issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

chore: add config to issue_template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

chore: refactor issue template
  .github/ISSUE_TEMPLATE/issue.yml
Due: none

chore: add feature template
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

chore: fix: typo feature template
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

fix: link to repository
  package.json
  packages/auto-image/README.md
  packages/auto-image/package.json
  packages/snackbar/package.json
Due: prettier --write --ignore-unknown

chore: add readme in root project
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  packages/snackbar/README.md
Due: none

ci(github-actions): improve test coverage reporting
  .github/workflows/test.yml
Due: none

feat: add containerStyle prop to Snackbar component for custom positioning
  packages/snackbar/example/src/SnackbarExample.js
  packages/snackbar/src/Snackbar.tsx
Due: prettier --write, eslint --fix

chore: bump snackbar package version to 1.1.2
  packages/snackbar/package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write: any of: *.{js, jsx,ts,tsx}
  eslint --fix: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,html}
